   <div class="content-inner " id="page_layout">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-sm-12">
               <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                  <div class="inner-page-title">
                     <h3 class="text-white">YuhToo Feed</h3>
                     <p class="text-white mb-0">Ideas - Content - Community</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>