<div class="iq-comingsoon">
    <div class="row justify-content-center">
      <div class="iq-comingsoon-info">
        <div class="row text-center">
          
           <a class="d-inline-flex align-items-center justify-content-center" href="/">
             <%= image_tag 'YuhToo.png', class: 'signin-img img-fluid rounded-3', style: 'height:180px;width:180px;' %>
           </a>
        </div>

        <a href="https://buy.stripe.com/test_3cs8yb3Ipf9YcHmfYY?prefilled_email=<%= @current_user&.email %>">
        <div class="text-left " id="page_layout">
                <div class="col-12">
                   <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                      <div class="inner-page-title">
                        <h3 class="text-white"><em><strong><u>Lifetime Memberships</u></strong></em></h3>
                        <p class="text-white mb-0">Ending - Jan 01 2025</p>
                        <a href="https://buy.stripe.com/test_3cs8yb3Ipf9YcHmfYY?prefilled_email=<%= @current_user&.email %>" class="btn btn-secondary-subtle">Get Started</a>
                      </div>
                   </div>
                </div>
        </div>
        </a>
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
                      <stripe-pricing-table customer-email="<%= @current_user&.email %>" pricing-table-id="prctbl_1PeXqTIe57Q4b5GrrkiFKxJw"
                      publishable-key="pk_test_51PeXQcIe57Q4b5Gr1cUAvWN8ufmftqTkNrdOdXcbdJdyQwTP58dRT45qhXfXxrkYnW8QxngRi8t3rxfCn7eGALDO00hX2nA23Z">
                      </stripe-pricing-table>
        <!-- <ul class="d-none d-xl-block countdown list-inline text-center" data-date="Jan 01 2025 00:00:00">
          
          <div class="row">
            
          
            <li class="col-3">
              <div class="card">
                <div class="card-body">
                  <span  id="days" class="text-center" data-days=""></span>Days
                </div>
              </div>
            </li>
            <li class="col-3">
              <div class="card">
                <div class="card-body">
                  <span id="hours" class="text-center" data-hours=""></span>Hours
                </div>
              </div>
            </li>
            <li class="col-3">
              <div class="card">
                <div class="card-body">
                  <span id="minutes" class="text-center" data-minutes=""></span>Min
                </div>
              </div>
            </li>
            <li class="col-3">
              <div class="card">
                <div class="card-body">
                  <span id="seconds" class="text-center" data-seconds=""></span>Sec
                </div>
              </div>
            </li>
          </div>  
        </ul> -->
      </div>
    </div>
  </div>