<div class="iq-comingsoon">
    <div class="row justify-content-center">
      <div class="iq-comingsoon-info">
        <div class="row text-center">
          
           <a class="d-inline-flex align-items-center justify-content-center" href="/">
             <%= image_tag 'YuhToo.png', class: 'signin-img img-fluid rounded-3', style: 'height:180px;width:180px;' %>
           </a>
        </div>

        <%= render partial: 'membership' %>
        <!-- <ul class="d-none d-xl-block countdown list-inline text-center" data-date="Jan 01 2025 00:00:00">
          
          <div class="row">
            
          
            <li class="col-3">
              <div class="card">
                <div class="card-body">
                  <span  id="days" class="text-center" data-days=""></span>Days
                </div>
              </div>
            </li>
            <li class="col-3">
              <div class="card">
                <div class="card-body">
                  <span id="hours" class="text-center" data-hours=""></span>Hours
                </div>
              </div>
            </li>
            <li class="col-3">
              <div class="card">
                <div class="card-body">
                  <span id="minutes" class="text-center" data-minutes=""></span>Min
                </div>
              </div>
            </li>
            <li class="col-3">
              <div class="card">
                <div class="card-body">
                  <span id="seconds" class="text-center" data-seconds=""></span>Sec
                </div>
              </div>
            </li>
          </div>  
        </ul> -->
      </div>
    </div>
  </div>