<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stack Multipurpose HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <link href="/assets/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/stack-interface.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/socicon.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/lightbox.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/flickity.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/iconsmind.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/jquery.steps.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/theme.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class=" ">
    <a id="start"></a>
    <div class="nav-container ">
      <div class="bar bar--sm visible-xs">
        <div class="container">
          <div class="row">
            <div class="col-3 col-md-2">
              <a href="index.html">
              <img class="logo logo-dark" alt="logo" src="img/logo-dark.png">
              <img class="logo logo-light" alt="logo" src="img/logo-light.png">
              </a>
            </div>
            <div class="col-9 col-md-10 text-right">
              <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
              <i class="icon icon--sm stack-interface stack-menu"></i>
              </a>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </div>
      <!--end bar-->
      <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-md-2 hidden-xs">
              <div class="bar__module">
                <a href="index.html">
                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png">
                <img class="logo logo-light" alt="logo" src="img/logo-light.png">
                </a>
              </div>
              <!--end module-->
            </div>
            <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
              <!--end module-->
              <div class="bar__module">
                <a class="btn btn--sm type--uppercase" href="<%= user_google_oauth2_omniauth_authorize_path %>">
                <span class="btn__text">
                Log In
                </span>
                </a>
                <a class="btn btn--sm btn--primary type--uppercase" href="">
                <span class="btn__text">
                Sign Up
                </span>
                </a>
              </div>
              <!--end module-->
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </nav>
      <!--end bar-->
    </div>
    <div class="main-container">

      <section class="cover height-80 text-center">
        <div class="container pos-vertical-center text-center">
          <div class="row">
              <h1 class="color--primary">Automate Content Creation </h1>
              <h1>&nbsp;anytime you want</h1>
          </div>
          <!--end of row-->
        </div>
        
        <!--end of container-->
      </section>
      <section class="cta cta-4 space--xxs unpad--bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <hr>
              <span class="label label--inline">Sale</span>
              <span>Recieve lifetime free content and bugfix updates when you
              <a href="">purchase Stack</a> today</span>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="switchable feature-large">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img alt="Image" class="border--round" src="/assets/YuhTooCreators.gif">
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="switchable__text">
                <h2>Build and edit pages in the comfort of your browser</h2>
                <p class="lead">
                  Variant's live front-end page building means creating attractive layouts it easy for everyone.
                </p>
                <a href="" target="_blank">Try Variant Page Builder now ↗</a>
              </div>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="feature feature-2 boxed boxed--border">
                <i class="icon icon-Clock-Back color--primary"></i>
                <div class="feature__body">
                  <p>
                    Save time with a multitude of styled components designed to showcase your content
                  </p>
                </div>
              </div>
              <!--end feature-->
            </div>
            <div class="col-md-4">
              <div class="feature feature-2 boxed boxed--border">
                <i class="icon icon-Duplicate-Window color--primary"></i>
                <div class="feature__body">
                  <p>
                    Construct mockups or production-ready pages in-browser with Variant Page Builder
                  </p>
                </div>
              </div>
              <!--end feature-->
            </div>
            <div class="col-md-4">
              <div class="feature feature-2 boxed boxed--border">
                <i class="icon icon-Life-Jacket color--primary"></i>
                <div class="feature__body">
                  <p>
                    Take comfort in 6 months included support with a dedicated support forum
                  </p>
                </div>
              </div>
              <!--end feature-->
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="text-center bg--secondary">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Customers use Stack to power their projects</h2>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="bg--secondary">
        <div class="container">
          <div class="row">
            <!-- <%= render partial: 'membership' %> -->
            <div class="col-md-4">
              <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
                <h4>Free</h4>
                <span class="h1">
                <span class="pricing__dollar">$</span>0</span>
                <p>
                  Our free plan allows you unlimited access to the service with a number of restrictions on customizations
                </p>
                <a class="btn btn--primary" href="#">
                <span class="btn__text">
                Access Now
                </span>
                </a>
              </div>
              <!--end pricing-->
            </div>
            <div class="col-md-4">
              <div class="pricing pricing-1 boxed boxed--border boxed--lg boxed--emphasis text-center">
                <h4>Regular</h4>
                <span class="h1">
                <span class="pricing__dollar">$</span>79</span>
                <p>
                  The regular license allows you to customize, store and even host your website using your platform
                </p>
                <span class="label">Value</span>
                <a class="btn btn--primary-1" href="">
                <span class="btn__text">
                Purchase Now
                </span>
                </a>
              </div>
              <!--end pricing-->
            </div>
            <div class="col-md-4">
              <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
                <h4>Extended</h4>
                <span class="h1">
                <span class="pricing__dollar">$</span>650</span>
                <p>
                  Extended plans offer full unlimited customization potential and the ability to host multi-site platforms
                </p>
                <a class="btn btn--primary" href="">
                <span class="btn__text">
                Purchase Now
                </span>
                </a>
              </div>
              <!--end pricing-->
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="space--sm unpad--bottom switchable text-center testimonial testimonial-1 bg--secondary">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img alt="Image" src="img/avatar-large-1.png">
            </div>
            <div class="col-md-6">
              <div class="switchable__text">
                <blockquote>
                  “Now I can use all my OLD long form videos as NEW shorts without having to do the edits.”
                </blockquote>
                <h5>Messy Lawns</h5>
                <span>YuhToo User</span>
              </div>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <footer class="text-center space--sm footer-5  ">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="heading-block">
                <ul class="list-inline list--hover">
                  <li>
                    <a href="#">
                    <span>Our Company</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <span>Locations</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <span>Products</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <span>Work With Us</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="social-list list-inline list--hover">
                  <li>
                    <a href="#">
                    <i class="socicon socicon-google icon icon--xs"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="socicon socicon-twitter icon icon--xs"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="socicon socicon-facebook icon icon--xs"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="socicon socicon-instagram icon icon--xs"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <span class="type--fine-print">Made in Melbourne</span>
                <img alt="Image" class="flag" src="img/flag-2.png">
              </div>
              <div>
                <span class="type--fine-print">©
                <span class="update-year">2024</span> Stack Inc.</span>
                <a class="type--fine-print" href="#">Privacy Policy</a>
                <a class="type--fine-print" href="#">Legal</a>
              </div>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </footer>
    </div>
    <div class="all-page-modals">
      <div class="modal-container" data-modal-index="0">
        <div class="modal-content bg-dark" data-width="60%" data-height="60%" style="width: 60%; height: 60%;">
          <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
          <div class="modal-close modal-close-cross"></div>
        </div>
        <!--end of modal-content-->
      </div>
    </div>
    <!--<div class="loader"></div>-->
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
    </a>
    <script src="/assets/flickity.min.js"></script>
    <script src="/assets/easypiechart.min.js"></script>
    <script src="/assets/parallax.js"></script>
    <script src="/assets/typed.min.js"></script>
    <script src="/assets/datepicker.js"></script>
    <script src="/assets/isotope.min.js"></script>
    <script src="/assets/ytplayer.min.js"></script>
    <script src="/assets/lightbox.min.js"></script>
    <script src="/assets/granim.min.js"></script>
    <script src="/assets/jquery.steps.min.js"></script>
    <script src="/assets/countdown.min.js"></script>
    <script src="/assets/twitterfetcher.min.js"></script>
    <script src="/assets/spectragram.min.js"></script>
    <script src="/assets/smooth-scroll.min.js"></script>
    <script src="/assets/scripts.js"></script>

    <div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div>
    <div id="lightbox" class="lightbox" style="display: none;">
      <div class="lb-outerContainer">
        <div class="lb-container">
          <img class="lb-image" src="">
          <div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div>
          <div class="lb-loader"><a class="lb-cancel"></a></div>
        </div>
      </div>
      <div class="lb-dataContainer">
        <div class="lb-data">
          <div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div>
          <div class="lb-closeContainer"><a class="lb-close"></a></div>
        </div>
      </div>
    </div>
    <div class="container containerMeasure" style="opacity:0;pointer-events:none;"></div>
  </body>
</html>